<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no" />
        <title>Codevision</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/public/stylesheets/main.css">
    </head>
    <body>
        <div class="ui grid">
            <div class="computer only row">
                <div class="ui inverted fluid vertical masthead center aligned segment">
                    <div class="ui container">
                        <div class="ui large secondary inverted pointing menu">
                            <div class="item">
                                <a class="item brand" href="/"><img id="menu-logo">
                                    <img id="menu-logo" src="/public/images/logo.png">
                                </a>
                            </div>
                            <div class="item">
                                <h4 class="ui header item">
                                    <a href="https://discord.gg/r2xdWye" target="_blank">Join</a>
                                </h4>
                            </div>
                            <div class="item">
                                <h4 class="ui header item">
                                    <a href="/courses">Courses</a>
                                </h4>
                            </div>
                            <div class="item">
                                <h4 class="ui header browse item">
                                    <a>Organization</a>
                                    <i class="dropdown small icon"></i>
                                </h4>
                                <div class="ui inverted fluid popup buttom left transition hidden" style="top: 553px; left: 1px; bottom: auto; right: auto; width: 960px;">
                                    <div class="ui link list">
                                        <a href="/about-us" class="item">About Us</a>
                                        <a href="/staff" class="item">Staff Team</a>
                                        <a href="/events" class="item">Events</a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <h4 class="ui header item">
                                    <a href="/merch">Merch</a>
                                </h4>
                            </div>
                            <div class="right menu">
                                <% if(currentUser){ %>
                                    <div class="item">
                                            <div class="ui dropdown primary right labeled icon button">
                                                <i class="dropdown icon"></i>
                                                Logged in as <%= currentUser.username %>
                                                <div class="menu">
                                                    <div class="header">Account</div>
                                                    <a class="ui item inverted" href="/users/<%= currentUser._id %>">
                                                        Visit Profile
                                                    </a>
                                                    <a class="ui item inverted" href="/users/<%= currentUser._id %>/edit">
                                                        Edit Profile
                                                    </a>
                                                    <div class="divider"></div>
                                                    <div class="header">Exit</div>
                                                    <a class="ui item inverted" href="/logout">
                                                        Logout
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                <% } else { %>
                                    <div class="item">
                                            <div class="ui dropdown primary right labeled icon button">
                                                <i class="dropdown icon"></i>
                                                Not logged in
                                                <div class="menu">
                                                    <div class="header">New user</div>
                                                    <a class="ui item inverted" href="/register">
                                                        Register
                                                    </a>
                                                    <div class="divider"></div>
                                                    <div class="header">Existing user</div>
                                                    <a class="ui item inverted" href="/login">
                                                        Login
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="mobile tablet only row">
                    <div class="ui fluid large inverted pointing borderless menu">
                        <a href="" class="brand item"><strong>Codevision</strong></a>
                        <div class="right menu open">
                            <i class="bars large icon"></i>
                        </div>
                    </div>
                    <div class="ui vertical navbar fluid borderless menu">
                        <div class="item">
                            <a class="item" href="/">Home</a>
                        </div>
                        <div class="item">
                            <a class="item" href="/courses">Courses</a>
                        </div>
                        <div class="item">
                            <a class="item" href="/">Organization</a>
                        </div>
                        <div class="item">
                            <a class="item" href="/merch">Merch</a>
                        </div>
                        <br>
                        <br>
                        <div class="item">
                            <div class="item">
                                <% if(currentUser){ %>
                                    <div class="ui primary button">My Profile</div> <div class="ui button">Logout</div>
                                <% } else { %>
                                    <div class="ui primary button">Register</div> <div class="ui button">Login</div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="ui container">
            <% if(error && error.length > 0){ %>
                <div class="ui red inverted segment flash-segment"><%= error %></div>
            <% } %>
            <% if(success && success.length > 0){ %>
                <div class="ui blue inverted segment flash-segment"><%= success %></div>
            <% } %>
        </div>