<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="../public/stylesheets/main-no-background.css">

<div id="courses-grid" class="ui page equal width center aligned grid">
        <div class="row">
            <h2 id="courses-title" class="ui blue header">Courses</h2>
        </div>
        <div class="row">
            <form id="courses" class="ui form large" action="/courses" method="get">
                <div class="field">
                    <label class="white">What would you like to learn today?</label>
                    <div class="form-group">
                        <input class="form-control" type="text" name="search" placeholder="Search term">
                    </div>
                </div>
                <button class="ui primary large circular right labeled icon float button auth">
                    <i class="search icon"></i>
                    Find Course
                </button>
            </form>
        </div>
</div>
<div class="ui container">
    <div class="ui divided items">
        <div class="item">
            <div class="extra">
                <a href="/courses/new" class="ui right floated circular right labeled icon positive button">
                    <i class="plus icon"></i>
                        Create new Course
                </a>
            </div>
        </div>
    </div>

    <% courses.forEach(function(course){ %>
        <div class="ui top attached raised blue segment">
            <div class="ui divided items">
                <div class="item">
                    <div class="image">
                        <img src="<%= course.thumbnail %>">
                    </div>
                    <div class="content">
                            <h4 class="ui header"><%= course.title %></h4>
                        <div class="meta">
                            <p><%= course.meta.author.username %>
                                <% if(course.meta.author.roles.indexOf(5) > -1){ %>
                                    <i id="small-role-icon" class="ui shield alternate icon staff-role-popup" data-title="Staff member" data-content="This user is part of the Codevision staff team."></i>
                                <% } %>
                                , <%= moment(course.meta.createdAt).fromNow() %></p>
                        </div>
                        <br>
                        <div class="description">
                            <p><%= course.description %></p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="extra">
                        <a href="/courses/<%= course._id %>" class="ui right floated circular right labeled icon primary button">
                            Open
                            <i class="right arrow icon"></i>
                        </a>
                        <div class="ui label">Kotlin</div>
                        <div class="ui label">Programming</div>
                    </div>
                </div>
            </div>
        </div>
    <% }); %>
</div>
<br>
<p class="banner-text">Advertisement</p>
<a href="http://track.creavite.co/?ref=pim&site=codevision" target="_blank">
    <img class="banner" src="https://static.creavite.co/banner.gif">
</a>

<% include ../partials/footer %>