<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="../public/stylesheets/main-no-background.css">

<div class="ui page equal width center aligned grid">
    <div class="row thumbnail-row">
        <div class="item">
            <br>
            <div class="ui blue huge header"><%= course.title %></div>
            <div class="ui blue small header"><%= course.description %></div>
            <br>
        </div>
    </div>
</div>
<div class="ui container">
    <div class="ui divided items">
        <div class="item">
            <div class="extra">
                <% if(currentUser && course.meta.author._id.equals(currentUser._id)){ %>
                    <a href="/courses/<%= course._id %>/sections/new" class="ui right floated circular right labeled icon blue button">
                        <i class="plus icon"></i>
                            Create new Section
                    </a>
                    <% if(course.meta.isPublic){ %>
<!--                         <a href="/courses/<%= course._id %>" class="ui right floated circular right labeled icon button">
                            <i class="eye slash outline icon"></i>
                                Make Private
                        </a> -->
                    <% } else { %>
<!--                         <a href="/courses/<%= course._id %>" class="ui right floated circular right labeled icon primary button">
                            <i class="eye slash outline icon"></i>
                                Make Public
                        </a> -->
                    <% } %>
                    <button class="ui right floated circular right labeled icon blue button">
                        <i class="plus icon"></i>
                            Subscribe
                    </button>


                    <a href="/courses/<%= course._id %>/edit" class="ui right floated circular right labeled icon button">
                        <i class="edit outline icon"></i>
                            Edit
                    </a>
                    <form action="/courses/<%= course._id %>?_method=DELETE" method="post">
                        <button class="ui right floated circular right labeled icon button">
                            <i class="trash alternate outline icon"></i>
                                Delete
                        </button>
                        
                    </form>
                <% } %>
                <h4 class="ui header">Created by
                    <a href="/users/<%= course.meta.author._id %>"><%= course.meta.author.username %></a> <%= moment(course.meta.createdAt).fromNow() %>
                </h4>
            </div>
        </div>
    </div>
    <h3 class="ui dividing header">Sections</h3>
    <% course.sections.forEach(function(section){ %>
        <div class="ui top attached raised blue segment">
            <div class="ui divided items">
                <div class="item">
                    <div class="image">
                        <img src="<%= section.thumbnail %>">
                    </div>
                    <div class="content">
                        <h4 class="ui header section"><%= section.title %></h4>
                        <div class="meta">
                            <span><strong><%= section.meta.author.username %></strong>, <%= moment(section.meta.createdAt).fromNow() %></span>
                        </div>
                        <br>
                        <div class="description">
                            <p><%= section.description %></p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="extra">
                        <a href="/courses/<%= course._id %>/sections/<%= section._id %>" class="ui right floated circular right labeled icon primary button">
                            Open
                            <i class="right arrow icon"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    <% }); %>
    <% if(course.sections.length === 0){ %>
        <div class="ui divided items">
            <div class="item">
                <div class="content">
                    <h4 class="ui header">Oops, this course has no sections yet.</h4>
                </div>
            </div>
        </div>
    <% } %>
        <div class="ui divided items">
            <div class="item">
                <div class="content">
            </div>
        </div>
    </div>


    <div class="ui large comments">
        <h3 class="ui dividing header">Comments</h3>
        <% course.comments.forEach(function(comment){ %>
            <div class="comment">
                <a class="avatar">
                    <img src="<%= comment.meta.author.avatar %>">
                </a>
                <div class="content">
                    <a class="author" href="/users/<%= comment.meta.author._id %>"><%= comment.meta.author.username %></a>
                    <div class="metadata">
                        <span class="date"><%= moment(comment.meta.createdAt).fromNow() %></span>
                    </div>
                    <div class="text">
                        <%= comment.content %>
                    </div>
                    <div class="actions">
                        <% if(currentUser && comment.meta.author._id.equals(currentUser._id)){ %>
                            <div class="actions">
                                <a href="/courses/<%= course._id %>/comments/<%= comment._id %>/edit" class="ui mini button">Edit</a>
                                <form id="delete-comment" action="/courses/<%= course._id %>/comments/<%= comment._id %>?_method=DELETE" method="post">
                                    <button class="ui mini red button">Delete</button>
                                </form>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        <% }); %>
        <form class="ui reply form" action="/courses/<%= course._id %>/comments" method="post">
            <div class="field">
                <textarea rows="2" required name="comment[content]" placeholder="Your comment"></textarea>
            </div>
            <button class="ui right floated blue circular right labeled leave-comment icon button">
                <i class="plus icon"></i> Create Comment
            </button>
        </form>
    </div>
    <br>
    <br>
</div>
<% include ../partials/footer %>