<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="/public/stylesheets/main-no-background.css">
    <div class="ui page grid">
        <div class="row">
            <form class="ui form" action="/courses/<%= course_id %>/comments/<%= comment._id %>?_method=PUT" method="post">
                <div class="ui huge header motivation-line">Edit Comment</div>
                <div class="ui medium header motivation-line">Made a typo?</div>
                <div class="field">
                    <label>Content</label>
                    <div class="form-group">
                        <textarea rows="5" required class="form-control" name="comment[content]" placeholder="Content"><%= comment.content %></textarea>
                    </div>
                </div>
                <div class="field">
                    <label>Share positive vibes when commenting. Rude comments will be removed.</label>
                </div>
                <div class="field">
                    <a href="/courses/<%= course_id %>" class="ui circular right labeled icon float button auth">
                        <i class="undo icon"></i>
                        Abort Changes
                    </a>
                    <button id="edit-course" type="submit" class="ui primary circular right labeled icon float button auth">
                        <i class="right arrow icon"></i>
                        Edit Comment
                    </button>
                </div>
            </form>
        </div>
    </div>
    <% if(error && error.length > 0){ %>
        <div class="ui red inverted segment flash-segment"><i class="exclamation circle icon"></i> <%= error %></div>
    <% } %>
    <% if(success && success.length > 0){ %>
        <div class="ui blue inverted segment flash-segment"><%= success %></div>
    <% } %>

<% include ../partials/footer %>