<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="../public/stylesheets/main-no-background.css">

<div class="ui page equal width center aligned grid">
    <div class="row thumbnail-row">
        <div class="item">
            <img id="profile" src="<%= user.avatar %>">
        </div>
    </div>
    <div class="row thumbnail-row">
        <div class="item">
            <div class="ui blue huge header"><%= user.username %>
                <% if(user.roles.indexOf(5) > -1){ %>
                    <i id="large-role-icon" class="ui shield alternate icon staff-role-popup" data-title="Staff member" data-content="This user is part of the Codevision staff team."></i>
                <% } %>
            </div>
            <div class="ui blue small header"><%= user.biography %></div>
        </div>
    </div>
</div>
<div class="ui container">
    <div class="ui divided items">
        <div class="item">
            <div class="extra">
                <% if(currentUser && user._id.equals(currentUser._id)){ %>
                    <a href="/users/<%= user._id %>/edit" class="ui right floated circular right labeled icon button">
                        <i class="edit outline icon"></i>
                            Edit Profile
                    </a>
                <% } else { %>
                    <a href="#" class="ui right floated circular right labeled icon positive button">
                        <i class="plus icon"></i>
                            Follow
                    </a>
                <% } %>
                <a href="#" id="share" class="ui right floated circular right labeled icon button">
                    <i class="share alternate icon"></i>
                        Share Profile
                </a>
                <input id="share_link" readonly type="text" value="https://codevision.org/users/<%= user._id %>">
                <div class="ui mini statistics">
                    <div class="blue statistic">
                        <div class="value">
                            0
                        </div>
                        <div class="label">
                            Followers
                        </div>
                    </div>
                    <div class="blue statistic">
                        <div class="value">
                            0
                        </div>
                        <div class="label">
                            Following
                        </div>
                    </div>
                    <div class="blue statistic">
                        <div class="value">
                            <%= courses.length %>
                        </div>
                        <div class="label">
                            Courses
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% if(courses.length > 0) { %>
        <h3 class="ui dividing header">Courses (<%= courses.length %>)</h3>
    <% } %>
    <% courses.forEach(function(course){ %>
        <div class="ui top attached raised blue segment">
            <div class="ui divided items">
                <div class="item">
                    <div class="image">
                        <img src="<%= course.thumbnail %>">
                    </div>
                    <div class="content">
                            <h4 class="ui header"><%= course.title %></h4>
                        <div class="meta">
                            <span><%= moment(course.meta.createdAt).fromNow() %></span>
                        </div>
                        <br>
                        <div class="description">
                            <p><%= course.description %></p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="extra">
                        <a href="/courses/<%= course._id %>" class="ui right floated circular right labeled icon primary button">
                            Open
                            <i class="right arrow icon"></i>
                        </a>
                        <div class="ui label">Kotlin</div>
                        <div class="ui label">Programming</div>
                    </div>
                </div>
            </div>
        </div>
    <% }); %>
</div>
<br>
<p class="banner-text">Advertisement</p>
<a href="http://track.creavite.co/?ref=pim&site=codevision" target="_blank">
    <img class="banner" src="https://static.creavite.co/banner.gif">
</a>
<% include ../partials/footer %>
<script>
    $("#share").on("click", function(){
        console.log("copied")
        copyText = $("#share_link");
        copyText.select();
        document.execCommand("copy");
        $("#share").html('<i class="share alternate icon"></i>Link Copied');
    });
</script>